 /* .logo {} */

 .logo img {
    width: 164px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;
    flex-direction: column;
    /* background-color: aqua;  */
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
}

section span img {
    width: 82px;
    margin: 0 23px;
}

.first p {
    font-size: 23px;
    width: 54vw;
    text-align: center;
}

.btn {
    padding: 14px 16px;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    color: white;
    background: #00b6d1;
    margin: 12px 0;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}

.green {
    background-color: #5cb85c;
}


.flex {
    display: flex;
}

.small {
    font-size: 15px;
}

.second {
    max-width: 70vw;
    margin: auto;
    /* background-color: aqua; */
}

.item {
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}
.item-lang{
    font-weight: 500;
    text-align: center;
    padding-bottom: 36px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.download :nth-child(1){
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 22px;
}

.download img{
    padding: 0px 12px;
}

@media screen and (max-width: 945px){
    .grid{
        /* background-color: red;
        display: grid; */
        grid-template-columns: 1fr;
        /* gap: 12px; */
    }
}