 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        :root {
            --primary-color: #ad5afacc;
            --text-color: white;
            --secondary-color: #e3cff5cc;
        }

        :root {
            --primary-color: green;
            --text-color: lightgreen;
            --secondary-color: lightblue;
        }

        body {
            background-color: var(--secondary-color);
        }

        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        nav {
            background-color: var(--primary-color);
            padding: 12px 0;
        }

        ul li {
            list-style: none;
            display: inline;
            padding: 23px;
            font-weight: bolder;
            color: var(--text-color);
        }
        ul li a{
            color: var(--text-color);
            text-decoration: none;
        }
